#regDetails{
 /* border: 10px solid white; */
 
 width: 80%;
 margin: auto;
 /* padding: 50px; */
 height: 500px;
}
#formDiv {
    background-color: #020079;
    width: 70%;
    margin: auto;
    margin-top: 70px;
    height: 800px;
}
label {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
}

.input {
    border: 3px solid white;
    border-radius: 0px;
    padding: 10px;
    width: 305px
}

#popo{
    border: 3px solid white;
    border-radius: 3px;
    padding: 10px;
    width: 305px;
    /* height: 200px; */
}

.popo {
    margin-top: -100px;
}


.head {
    display: flex;
    width: 80%;
    color: white;
    margin: auto;
}
h2 {
    color: white;
    padding-top: 30px;
    border-left: 10px solid yellow;
    padding-left: 25px;
    font-size: larger;
}

button {
margin-left: 190px;
height: 70px;
border: 10px solid white;
background-color: transparent;
color: white;
font-size: 17px;
text-transform: uppercase;
   font-weight: bolder;
}