#regDetails{
 /* border: 10px solid white; */
 
 width: 80%;
 margin: auto;
 height: 700px;
}
#formDiv {
    background-color: darkblue;
}
label {
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
}

.input {
    border: 3px solid white;
    border-radius: 0px;
    padding: 10px;
    width: 305px
}

#popo{
    border: 3px solid white;
    border-radius: 3px;
    padding: 10px;
    width: 305px;
    /* height: 200px; */
}

.popo {
    margin-top: -100px;
}
