
.nav-bar{
    background-color: #020079;
    height: 60px;
    padding-top: 30px;
    /* padding-bottom: -20px; */

}

.nav-bar img {
    margin-left: 450px;
    margin-top: -40px;
    height: 100px;
    width: 7%
}

.nav-bar ul {
    list-style: none;
    display: flex;
    margin-left: -100px;
    float: right;

}

.nav-bar  a{
    text-decoration: none;
    padding: 40px;
    color: white;
    font-weight: bold;
}

.nav-bar a:hover {
    background-color: white;
    color: #020079;
}
.home {
    display: flex;
}
.text {
    width: 50%;
    padding-top: 40px;
}

.text h1 {
    color: #020079;
    font-size: 70px;
    line-height: 1.2;
}

.cat {
    margin-top: 50px;
}

.text a {
    /* font-size: 20px; */
    font-weight: bolder;
    text-decoration: none;
    color: #020079;
    border: 4px solid #020079;
    padding: 25px;
    text-transform: uppercase;
}


.image {
    background-image: url('../hack.jpg');
    height: 600px;
    width: 50%;
}
#about {
    /* background-color: #ccc; */
    margin-top: 0px;
}
.about {
    height: 650px;
}
.map {
    display: flex;
    width: 100%;
    /* margin-top: 20px; */

}

.text-about {
    background-color: #020079;
    width: 50%;
    padding: 30px;
    height: 600px;
}
.text-about p {
    color: white;
    text-align: justify;
}
.mapping {
    background-image: url('../medical.png');
    margin-top: 30px;
    height: 630px;
    background-position: right;
    width: 50%;
}

.batch img {
    width: 195px;
    height: 180px;
    /* margin: 20px; */
    /* float: rights; */
}

.batch a {
    /* border: 10px solid #020079; */
    border-radius: 10px 0 10px 0;
    margin: 0px 10px;
    color: #020079;
    /* background-color: #020079; */
    text-decoration: none;
    /* text-transform: uppercase; */
    /* text-align: justify; */
    /* margin-right: 10px; */
}

.batch h3 {
    color: slategray;
    border-left: 30px solid slategray;
    border-right: 30px solid slategray;
    /* text-transform: uppercase; */
    text-align: center;
    /* font-weight: bolder; */
    border-radius: 5px ;
    /* margin-left: 10px; */
    padding-left: 10px;
    margin-top: 5px;
    padding-right: 10px;
}


.batch {
    display: flex;
    
    /* width: 80%; */
    /* margin: auto; */
    /* margin-bottom: 10px; */
    margin-left: 20px;
 
}

.text-about a {
      /* font-size: 20px; */
      /* background-color: ; */
      font-weight: bolder;
      text-decoration: none;
      color: white;
      border: 4px solid white;
      padding: 25px;
      text-transform: uppercase;
}

.services {
    display: flex;
}

.serv-batch {
    display: block;
}

.ser-text {
    background-color: #020079;
    /* padding-left: -10px; */
    height: 455px;
    width: 25%;
    padding: 30px;
    color: white;
    margin-top: 10px;
}

.ser-text p {
    color: white;
    text-align: justify;
    margin-bottom: 50px;
}

.ser-text a {
    margin-top: 50px;
    font-weight: bolder;
    text-decoration: none;
    color: white;
    border: 4px solid white;
    padding: 20px;
    text-transform: uppercase;
}

#contact {
    padding-top:100px ;
    padding-bottom:100px ;
    background-image: url("../2.jpg");
    height: 700px;
    background-size: cover;

    background-repeat: no-repeat;
}

.dott {
    display: flex;
}

.doc {
    width: 30%;
    height: 640px;
    margin: 20px;
    border: 10px solid #020079;
    background-color: #020079;
}

.doc img{
    width: 260px;
    height: 260px;
}

.doc a {
    /* margin-top: 50px; */
    font-weight: bolder;
    text-decoration: none;
    color: #020079;
    background-color: white;
    padding: 25px;
    text-transform: uppercase; 
    margin: 20px;
}

.doc h5, .doc  h3, .doc  p {
color: white;
margin: 20px;
}

.doc  p {
    padding-bottom: 30px;
    text-align:justify;
}

.contact {
    background-color: white;
  height: 700px;
  display: flex;
}

.contact h2 {
    color: #020079;
    font-weight: bolder;
    /* font-size: 60px; */
    text-align: justify;
    padding-left: 20px;
}

.contact img {
    border: 10px solid white;
    border-radius: 50%;
    height: 70px;
}
.con {
    width: 60%;
    margin: 30px;
}

.review {
    width: 40%;
    float: right;
    background-color: #020079;
    /* margin-right: -20px; */
    margin: 30px;
    padding: 20px;
}

.review h3 {
    color: white;
}

.review label {
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 17px;
}

.review input {
    border: 2px solid white;
    padding: 10px;
    margin: 10px;
}

.review button {
    border: 2px solid white;
    color: #020079;
    font-weight: bolder;
    font-size: 17px;
    text-align: center;
    width: 300px;
    padding: 17px;
    margin-top: 30px;
}